Repository bounswe/bounswe2020group9, pull requests merged in 2020-12, with the labels that each got.

#178 Ios muhsin improving application flow
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.xcworkspace/xcuserdata/muhsinetki.xcuserdatad/UserInterfaceState.xcuserstate
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/LoginViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/ProfileViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SignUpViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Helper/Constants.swift
Labels: Mobile, Priority - High

#223 iOS Alcan - MyCartViewController and related changes
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x-1.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x-1.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x-1.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/bazaar-appicon.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/bazaar-appicon.imageset/bazaar-appicon.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/MainViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/MyCartViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Info.plist
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/ProductDetailViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/View/Cart Cell/CartTableViewCell.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/View/Cart Cell/CartTableViewCell.xib
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/View/Product Cell/ProductCell.xib
Labels: Mobile

#242 Design of My Account Page
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/LoginViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/ProfileViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SignUpViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Helper/Constants.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/MyAccountViewController.swift
Labels: Estimation - Medium, Mobile, Priority - High, Status - Needs review

#245 Backend ibrahim signupfix
  Projects/Backend/src/user/models.py
  Projects/Backend/src/user/serializers.py
  Projects/Backend/src/user/urls.py
  Projects/Backend/src/user/views.py
Labels: Priority - Urgent

#246 iOS - update profile informations
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/address_icon.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/address_icon.imageset/icons8-address-100.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/exit_icon.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/exit_icon.imageset/icons8-exit-100.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/exit_icon.imageset/icons8-exit-50.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/lock_icon.imageset/icons8-lock-64.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/LoginViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SignUpViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/MyAccountViewController.swift
Labels: Estimation - Hard, Mobile, Priority - Urgent, Status - Completed

#249 iOS - Google sign in
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/LoginViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SignUpViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
Labels: Estimation - Medium, Mobile, Priority - High, Status - Completed

#262 iOS Vendor Sign Up
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/left_arrow_icon-1.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/left_arrow_icon-1.imageset/icons8-left-arrow-100.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SignUpViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/MapViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/MyAccountViewController.swift
Labels: Mobile, Priority - Urgent, Status - Needs review
