Repository bounswe/bounswe2020group9, pull requests merged in 2021-01, with the labels that each got.

#297 alcan - ios - vendor searching functionality added
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/MainViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SearchResultsViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
Labels: Estimation - Hard, Mobile, Priority - Urgent

#313 iOS - alcan - vendor profile for customer developments
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/MainViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/VendorProfileForUserViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/ProductDetailViewController.swift
Labels: Mobile, Priority - Urgent

#317 iOS - Customer My Credit Cards
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/credit_cards_icon.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/credit_cards_icon.imageset/icons8-bank-cards-100.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/trash_icon.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/trash_icon.imageset/icons8-trash-can-100.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/AddCreditCardViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/MyCreditCardsViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/MyAccountViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/View/CreditCardCell.swift
Labels: Mobile, Priority - High, Status - Completed

#321 iOS - Customer My Addresses
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/update_icon.imageset/Contents.json
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Assets.xcassets/update_icon.imageset/icons8-update-100.png
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/AddNewAddressViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/CustomerMyAddressesViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Parse Data/APIDatas.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/View/AddressCell.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/View/CreditCardCell.swift
Labels: Mobile, Priority - High, Status - Completed

#323 iOS - Delete Account
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/VendorMyAccountViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/MyAccountViewController.swift
Labels: Mobile, Priority - High, Status - Completed

#328 iOS - Vendor My Addresses
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/VendorAddNewAddressViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/VendorMyAddressesViewController.swift
Labels: Mobile, Priority - High, Status - Completed

#334 iOS - Sign Up and Legal Policies
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS.xcodeproj/project.pbxproj
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Base.lproj/Main.storyboard
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/LegalPolicyViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Controller/SignUpViewController.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/APIManager.swift
  Projects/Mobile/Bazaar-iOS/Bazaar-iOS/Model/Requests/ApiRouter.swift
Labels: Mobile, Priority - High, Status - Completed

#337 Add to list, add new list, delete a list and delete from list added
  Projects/Frontend/bazaar-frontend/src/assets/icons/add-list-icon.svg
  Projects/Frontend/bazaar-frontend/src/assets/icons/remove.svg
  Projects/Frontend/bazaar-frontend/src/components/Header/Header.js
  Projects/Frontend/bazaar-frontend/src/screens/Add-Product/addproduct.js
  Projects/Frontend/bazaar-frontend/src/screens/MyList/MyList.js
  Projects/Frontend/bazaar-frontend/src/screens/MyList/mylist.scss
  Projects/Frontend/bazaar-frontend/src/screens/ProductPage/ProductPage.js
  Projects/Frontend/bazaar-frontend/src/screens/ProductPage/productpage.scss
Labels: Frontend

#307 Footer update
  Projects/Frontend/bazaar-frontend/src/components/Footer/Footer.js
  Projects/Frontend/bazaar-frontend/src/components/Footer/footer.css
Labels: Frontend
